/* If you put a sidebar
body.pushable > .pusher {
	padding-top: 40px;
}
*/

.pusher {
	/* padding-top: 145px; */
	padding-top: 40px;
  	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

.body {
  	flex: 1;
}
